{"openapi": "3.0.3", "info": {"title": "Cloudflare Client API", "description": "The Cloudflare Client API", "version": "4.0.0", "x-buildDate": "2022-10-24T21:08:43+00:00", "x-revision": "7668-385065a2"}, "servers": [{"url": "https://api.cloudflare.com/client/v4"}], "paths": {"/user": {"get": {"summary": "User Details", "parameters": [], "responses": {"200": {"description": "User Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_user_response"}}}}, "4xx": {"description": "User Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_user_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.user.read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "user-user-details", "tags": ["User"]}, "patch": {"summary": "Edit User", "description": "Edit part of your user details.", "parameters": [], "responses": {"200": {"description": "Edit User response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_user_response"}}}}, "4xx": {"description": "Edit User response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_user_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.user.update"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"properties": {"first_name": {"$ref": "#/components/schemas/first_name"}, "last_name": {"$ref": "#/components/schemas/last_name"}, "telephone": {"$ref": "#/components/schemas/telephone"}, "country": {"$ref": "#/components/schemas/country"}, "zipcode": {"$ref": "#/components/schemas/zipcode"}}}}}}, "operationId": "user-edit-user", "tags": ["User"]}}, "/user/tokens": {"get": {"summary": "List Tokens", "description": "List all access tokens you created.", "parameters": [], "responses": {"200": {"description": "List Tokens response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_collection"}}}}, "4xx": {"description": "List Tokens response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.token.list"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "user-api-tokens-list-tokens", "tags": ["User API Tokens"]}, "post": {"summary": "Create Token", "description": "Create a new access token.", "parameters": [], "responses": {"200": {"description": "Create Token response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_create"}}}}, "4xx": {"description": "Create Token response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_create"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.token.create"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/create_payload"}}}}, "operationId": "user-api-tokens-create-token", "tags": ["User API Tokens"]}}, "/user/tokens/{identifier}": {"get": {"summary": "Token Details", "description": "Get information about a specific token.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Token Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Token Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.token.read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "user-api-tokens-token-details", "tags": ["User API Tokens"]}, "put": {"summary": "Update Token", "description": "Update an existing token.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Update Token response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Update Token response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.token.update"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-token"}}}}, "operationId": "user-api-tokens-update-token", "tags": ["User API Tokens"]}, "delete": {"summary": "Delete Token", "description": "Destroy a token.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Delete Token response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/api-response-single-id"}}}}, "4xx": {"description": "Delete Token response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single-id"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.token.delete"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "user-api-tokens-delete-token", "tags": ["User API Tokens"]}}, "/user/tokens/{identifier}/value": {"put": {"summary": "Roll Token", "description": "Roll the token secret.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Roll Token response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single_value"}}}}, "4xx": {"description": "Roll Token response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single_value"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.token.update"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {}}}}}, "operationId": "user-api-tokens-roll-token", "tags": ["User API Tokens"]}}, "/user/tokens/verify": {"get": {"summary": "Verify Token", "description": "Test whether a token works.", "parameters": [], "responses": {"200": {"description": "Verify Token response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single_segment"}}}}, "4xx": {"description": "Verify Token response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single_segment"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "user-api-tokens-verify-token", "tags": ["User API Tokens"]}}, "/user/tokens/permission_groups": {"get": {"summary": "List Permission Groups", "description": "Find all available permission groups.", "parameters": [], "responses": {"200": {"description": "List Permission Groups response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-response_collection"}}}}, "4xx": {"description": "List Permission Groups response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/schemas-response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_token": []}], "x-cfPermissionsRequired": {"enum": ["com.cloudflare.api.token.read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "permission-groups-list-permission-groups", "tags": ["Permission Groups"]}}, "/memberships": {"get": {"summary": "List Memberships", "description": "List memberships of accounts the user can access.", "parameters": [], "responses": {"200": {"description": "List Memberships response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/collection_membership_response"}}}}, "4xx": {"description": "List Memberships response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/collection_membership_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "operationId": "user'-s-account-memberships-list-memberships", "tags": ["User's Account Memberships"]}}, "/memberships/{identifier}": {"get": {"summary": "Membership Details", "description": "Get a specific membership.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/membership_components-schemas-identifier"}}], "responses": {"200": {"description": "Membership Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_membership_response"}}}}, "4xx": {"description": "Membership Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_membership_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "operationId": "user'-s-account-memberships-membership-details", "tags": ["User's Account Memberships"]}, "put": {"summary": "Update Membership", "description": "Accept or reject this account invitation.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/membership_components-schemas-identifier"}}], "responses": {"200": {"description": "Update Membership response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_membership_response"}}}}, "4xx": {"description": "Update Membership response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_membership_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"required": ["status"], "properties": {"status": {"enum": ["accepted", "rejected"], "description": "Whether to accept or reject this account invitation.", "example": "accepted"}}}}}}, "operationId": "user'-s-account-memberships-update-membership", "tags": ["User's Account Memberships"]}, "delete": {"summary": "Delete Membership", "description": "Remove the associated member from an account.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/membership_components-schemas-identifier"}}], "responses": {"200": {"description": "Delete Membership response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single"}, {"type": "object", "properties": {"result": {"properties": {"id": {"$ref": "#/components/schemas/membership_components-schemas-identifier"}}}}}]}}}}, "4xx": {"description": "Delete Membership response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/api-response-single"}, {"type": "object", "properties": {"result": {"properties": {"id": {"$ref": "#/components/schemas/membership_components-schemas-identifier"}}}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "user'-s-account-memberships-delete-membership", "tags": ["User's Account Memberships"]}}, "/accounts": {"get": {"summary": "List Accounts", "description": "List all accounts you have ownership or verified access to.", "parameters": [], "responses": {"200": {"description": "List Accounts response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_collection"}}}}, "4xx": {"description": "List Accounts response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "accounts-list-accounts", "tags": ["Accounts"]}}, "/accounts/{identifier}": {"get": {"summary": "Account Details", "description": "Get information about a specific account that you are a member of.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Account Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Account Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "accounts-account-details", "tags": ["Accounts"]}, "put": {"summary": "Update Account", "description": "Update an existing account.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Update Account response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Update Account response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/components-schemas-account"}}}}, "operationId": "accounts-update-account", "tags": ["Accounts"]}}, "/accounts/{account_identifier}/members": {"get": {"summary": "List Members", "description": "List all members of an account.", "parameters": [{"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "List Members response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_collection"}}}}, "4xx": {"description": "List Members response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "account-members-list-members", "tags": ["Account Members"]}, "post": {"summary": "Add Member", "description": "Add a user to the list of members for this account.", "parameters": [{"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "Add Member response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Add Member response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/create"}}}}, "operationId": "account-members-add-member", "tags": ["Account Members"]}}, "/accounts/{account_identifier}/members/{identifier}": {"get": {"summary": "Member Details", "description": "Get information about a specific member of an account.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}, {"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "Member Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Member Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "account-members-member-details", "tags": ["Account Members"]}, "put": {"summary": "Update Member", "description": "Modify an account member.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}, {"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "Update Member response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Update Member response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-member"}}}}, "operationId": "account-members-update-member", "tags": ["Account Members"]}, "delete": {"summary": "Remove Member", "description": "Remove a member from an account.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}, {"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "Remove Member response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/api-response-single-id"}}}}, "4xx": {"description": "Remove Member response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single-id"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "account-members-remove-member", "tags": ["Account Members"]}}, "/accounts/{account_identifier}/roles": {"get": {"summary": "List Roles", "description": "Get all available roles for an account.", "parameters": [{"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "List Roles response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_collection"}}}}, "4xx": {"description": "List Roles response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "operationId": "account-roles-list-roles", "tags": ["Account Roles"]}}, "/accounts/{account_identifier}/roles/{identifier}": {"get": {"summary": "Role Details", "description": "Get information about a specific role for an account.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}, {"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "Role Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/response_single"}}}}, "4xx": {"description": "Role Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "operationId": "account-roles-role-details", "tags": ["Account Roles"]}}, "/accounts/{account_identifier}/subscriptions": {"get": {"summary": "List Subscriptions", "description": "List all of an account's subscriptions.", "parameters": [{"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "List Subscriptions response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/account_subscription_response_collection"}}}}, "4xx": {"description": "List Subscriptions response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/account_subscription_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "account-subscriptions-list-subscriptions", "tags": ["Account Subscriptions"]}, "post": {"summary": "Create Subscription", "description": "Create an account subscription.", "parameters": [{"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Create Subscription response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/account_subscription_response_single"}}}}, "4xx": {"description": "Create Subscription response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/account_subscription_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read", "#billing:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/subscription-v2"}}}}, "operationId": "account-subscriptions-create-subscription", "tags": ["Account Subscriptions"]}}, "/accounts/{account_identifier}/subscriptions/{subscription_identifier}": {"put": {"summary": "Update Subscription", "description": "Update an account subscription.", "parameters": [{"name": "subscription_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}, {"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Update Subscription response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/account_subscription_response_single"}}}}, "4xx": {"description": "Update Subscription response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/account_subscription_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read", "#billing:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/subscription-v2"}}}}, "operationId": "account-subscriptions-update-subscription", "tags": ["Account Subscriptions"]}, "delete": {"summary": "Delete Subscription", "description": "Deletes an account's subscription.", "parameters": [{"name": "subscription_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}, {"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Delete Subscription response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single"}, {"properties": {"result": {"type": "object", "properties": {"subscription_id": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}}}}]}}}}, "4xx": {"description": "Delete Subscription response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/api-response-single"}, {"properties": {"result": {"type": "object", "properties": {"subscription_id": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:edit"]}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "account-subscriptions-delete-subscription", "tags": ["Account Subscriptions"]}}, "/organizations/{identifier}": {"get": {"summary": "Organization Details", "description": "Get information about a specific organization that you are a member of.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Organization Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_organization_response"}}}}, "4xx": {"description": "Organization Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_organization_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "organizations-organization-details", "tags": ["Organizations"]}, "patch": {"summary": "Edit Organization", "description": "Update an existing Organization.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Edit Organization response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_organization_response"}}}}, "4xx": {"description": "Edit Organization response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_organization_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"$ref": "#/components/schemas/schemas-name"}}}}}}, "operationId": "organizations-edit-organization", "tags": ["Organizations"]}}, "/organizations/{organization_identifier}/invites": {"get": {"summary": "List Invitations", "description": "List all invitations associated with an organization.", "parameters": [{"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "List Invitations response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/collection_invite_response"}}}}, "4xx": {"description": "List Invitations response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/collection_invite_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "organization-invites-list-invitations", "tags": ["Organization Invites"]}, "post": {"summary": "Create Invitation", "description": "Invite a User to become a Member of an Organization.", "parameters": [{"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Create Invitation response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_invite_response"}}}}, "4xx": {"description": "Create Invitation response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_invite_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["invited_member_email", "roles"], "properties": {"invited_member_email": {"$ref": "#/components/schemas/invited_member_email"}, "roles": {"type": "array", "description": "Array of Roles associated with the invited user.", "items": {"type": "object", "required": ["id"], "properties": {"id": {"$ref": "#/components/schemas/role_components-schemas-identifier"}, "name": {"$ref": "#/components/schemas/components-schemas-name"}, "description": {"$ref": "#/components/schemas/description"}, "permissions": {"$ref": "#/components/schemas/schemas-permissions"}}}, "example": [{"id": "5a7805061c76ada191ed06f989cc3dac"}, {"id": "9a7806061c88ada191ed06f989cc3dac"}]}, "auto_accept": {"type": "boolean", "description": "When present and set to true, allows for the invited user to be automatically accepted to the organization. No invitation is sent.", "example": true, "default": false}}}}}}, "operationId": "organization-invites-create-invitation", "tags": ["Organization Invites"]}}, "/organizations/{organization_identifier}/invites/{identifier}": {"get": {"summary": "Invitation Details", "description": "Get the details of an invitation.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/invite_components-schemas-identifier"}}, {"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Invitation Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_invite_response"}}}}, "4xx": {"description": "Invitation Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_invite_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "organization-invites-invitation-details", "tags": ["Organization Invites"]}, "patch": {"summary": "Edit Invitation Roles", "description": "Change the Roles of a Pending Invite.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/invite_components-schemas-identifier"}}, {"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Edit Invitation Roles response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_invite_response"}}}}, "4xx": {"description": "Edit Invitation Roles response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_invite_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"roles": {"type": "array", "description": "Array of Roles associated with the invited user.", "items": {"$ref": "#/components/schemas/role_components-schemas-identifier"}}}}}}}, "operationId": "organization-invites-edit-invitation-roles", "tags": ["Organization Invites"]}, "delete": {"summary": "Cancel Invitation", "description": "Cancel an existing invitation.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/invite_components-schemas-identifier"}}, {"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Cancel Invitation response", "content": {"application/json": {"schema": {"properties": {"id": {"$ref": "#/components/schemas/invite_components-schemas-identifier"}}}}}}, "4xx": {"description": "Cancel Invitation response failure", "content": {"application/json": {"schema": {"allOf": [{"properties": {"id": {"$ref": "#/components/schemas/invite_components-schemas-identifier"}}}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "organization-invites-cancel-invitation", "tags": ["Organization Invites"]}}, "/organizations/{organization_identifier}/members": {"get": {"summary": "List Members", "description": "List all members of a organization.", "parameters": [{"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/organization_components-schemas-identifier"}}], "responses": {"200": {"description": "List Members response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/collection_member_response"}}}}, "4xx": {"description": "List Members response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/collection_member_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "organization-members-list-members", "tags": ["Organization Members"]}}, "/organizations/{organization_identifier}/members/{identifier}": {"get": {"summary": "Member Details", "description": "Get information about a specific member of an organization.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}, {"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/organization_components-schemas-identifier"}}], "responses": {"200": {"description": "Member Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_member_response"}}}}, "4xx": {"description": "Member Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_member_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "organization-members-member-details", "tags": ["Organization Members"]}, "patch": {"summary": "Edit Member Roles", "description": "Change the Roles of an Organization's Member.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}, {"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/organization_components-schemas-identifier"}}], "responses": {"200": {"description": "Edit Member Roles response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_member_response"}}}}, "4xx": {"description": "Edit Member Roles response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_member_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"roles": {"type": "array", "description": "Array of Roles associated with this Member.", "items": {"$ref": "#/components/schemas/role_components-schemas-identifier"}}}}}}}, "operationId": "organization-members-edit-member-roles", "tags": ["Organization Members"]}, "delete": {"summary": "Remove Member", "description": "Remove a member from an organization.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}, {"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/organization_components-schemas-identifier"}}], "responses": {"200": {"description": "Remove Member response", "content": {"application/json": {"schema": {"properties": {"id": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}}}}}, "4xx": {"description": "Remove Member response failure", "content": {"application/json": {"schema": {"allOf": [{"properties": {"id": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "organization-members-remove-member", "tags": ["Organization Members"]}}, "/organizations/{organization_identifier}/roles": {"get": {"summary": "List Roles", "description": "Get all available roles for an organization.", "parameters": [{"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/organization_components-schemas-identifier"}}], "responses": {"200": {"description": "List Roles response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/collection_role_response"}}}}, "4xx": {"description": "List Roles response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/collection_role_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "organization-roles-list-roles", "tags": ["Organization Roles"]}}, "/organizations/{organization_identifier}/roles/{identifier}": {"get": {"summary": "Role Details", "description": "Get information about a specific role for an organization.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/role_components-schemas-identifier"}}, {"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/organization_components-schemas-identifier"}}], "responses": {"200": {"description": "Role Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_role_response"}}}}, "4xx": {"description": "Role Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_role_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "../organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPermissionsRequired": {"enum": ["#organization:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "organization-roles-role-details", "tags": ["Organization Roles"]}}, "/user/invites": {"get": {"summary": "List Invitations", "description": "List all invitations associated with my user.", "parameters": [], "responses": {"200": {"description": "List Invitations response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-collection_invite_response"}}}}, "4xx": {"description": "List Invitations response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/schemas-collection_invite_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "user'-s-invites-list-invitations", "tags": ["User's Invites"]}}, "/user/invites/{identifier}": {"get": {"summary": "Invitation Details", "description": "Get the details of an invitation.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/invite_components-schemas-identifier"}}], "responses": {"200": {"description": "Invitation Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_invite_response"}}}}, "4xx": {"description": "Invitation Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_invite_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "user'-s-invites-invitation-details", "tags": ["User's Invites"]}, "patch": {"summary": "Respond to Invitation", "description": "Respond to an invitation.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/invite_components-schemas-identifier"}}], "responses": {"200": {"description": "Respond to Invitation response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_invite_response"}}}}, "4xx": {"description": "Respond to Invitation response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_invite_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["status"], "properties": {"status": {"enum": ["accepted", "rejected"], "description": "Status of your response to the invitation (rejected or accepted).", "example": "accepted"}}}}}}, "operationId": "user'-s-invites-respond-to-invitation", "tags": ["User's Invites"]}}, "/user/organizations": {"get": {"summary": "List Organizations", "description": "List organizations the user is associated with.", "parameters": [], "responses": {"200": {"description": "List Organizations response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/collection_organization_response"}}}}, "4xx": {"description": "List Organizations response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/collection_organization_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "user'-s-organizations-list-organizations", "tags": ["User's Organizations"]}}, "/user/organizations/{identifier}": {"get": {"summary": "Organization Details", "description": "Get a specific organization the user is associated with.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Organization Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/single_organization_response"}}}}, "4xx": {"description": "Organization Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/single_organization_response"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "user'-s-organizations-organization-details", "tags": ["User's Organizations"]}, "delete": {"summary": "Leave Organization", "description": "Remove association to an organization.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Leave Organization response", "content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}}}}}, "4xx": {"description": "Leave Organization response failure", "content": {"application/json": {"schema": {"allOf": [{"type": "object", "properties": {"id": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "user'-s-organizations-leave-organization", "tags": ["User's Organizations"]}}, "/user/billing/profile": {"get": {"summary": "Billing Profile Details", "description": "Access your billing profile object.", "parameters": [], "responses": {"200": {"description": "Billing Profile Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/billing_response_single"}}}}, "4xx": {"description": "Billing Profile Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/billing_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "user-billing-profile-billing-profile-details", "tags": ["User Billing Profile"]}}, "/user/billing/history": {"get": {"summary": "Billing History Details", "description": "Access your billing history object.", "parameters": [], "responses": {"200": {"description": "Billing History Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/billing_history_collection"}}}}, "4xx": {"description": "Billing History Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/billing_history_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "user-billing-history-billing-history-details", "tags": ["User Billing History"]}}, "/user/subscriptions": {"get": {"summary": "Get User Subscriptions", "description": "Lists all a user's subscriptions.", "parameters": [], "responses": {"200": {"description": "Get User Subscriptions response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/user_subscription_response_collection"}}}}, "4xx": {"description": "Get User Subscriptions response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/user_subscription_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "operationId": "user-subscription-get-user-subscriptions", "tags": ["User Subscription"]}}, "/user/subscriptions/{identifier}": {"put": {"summary": "Update User Subscription", "description": "Update a user subscriptions.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}], "responses": {"200": {"description": "Update User Subscription response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/user_subscription_response_single"}}}}, "4xx": {"description": "Update User Subscription response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/user_subscription_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read", "#billing:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/subscription-v2"}}}}, "operationId": "user-subscription-update-user-subscription", "tags": ["User Subscription"]}, "delete": {"summary": "Delete User Subscription", "description": "Deletes a user's subscription.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}], "responses": {"200": {"description": "Delete User Subscription response", "content": {"application/json": {"schema": {"type": "object", "properties": {"subscription_id": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}}}}}, "4xx": {"description": "Delete User Subscription response failure", "content": {"application/json": {"schema": {"allOf": [{"type": "object", "properties": {"subscription_id": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:edit"]}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "user-subscription-delete-user-subscription", "tags": ["User Subscription"]}}, "/accounts/{account_identifier}/billing/profile": {"get": {"summary": "Billing Profile Details", "description": "Get the current billing profile for the account.", "parameters": [{"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/account_identifier"}}], "responses": {"200": {"description": "Billing Profile Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/billing_response_single"}}}}, "4xx": {"description": "Billing Profile Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/billing_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "account-billing-profile-billing-profile-details", "tags": ["Account Billing Profile"]}}, "/zones/{zone_identifier}/available_rate_plans": {"get": {"summary": "List Available Rate Plans", "description": "List all rate plans the zone can subscribe to.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "List Available Rate Plans response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/plan_response_collection"}}}}, "4xx": {"description": "List Available Rate Plans response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/plan_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-rate-plan-list-available-rate-plans", "tags": ["Zone Rate Plan"]}}, "/zones/{zone_identifier}/available_plans": {"get": {"summary": "List Available Plans", "description": "List available plans the zone can subscribe to.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "List Available Plans response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-collection"}, {"properties": {"result": {"type": "array", "items": {"$ref": "#/components/schemas/available-rate-plan"}}}}]}}}}, "4xx": {"description": "List Available Plans response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/api-response-collection"}, {"properties": {"result": {"type": "array", "items": {"$ref": "#/components/schemas/available-rate-plan"}}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-rate-plan-list-available-plans", "tags": ["Zone Rate Plan"]}}, "/zones/{zone_identifier}/available_plans/{plan_identifier}": {"get": {"summary": "Available Plan Details", "description": "Details of an available plan that the zone can subscribe to.", "parameters": [{"name": "plan_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}, {"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Available Plan Details response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single"}, {"properties": {"result": {"$ref": "#/components/schemas/available-rate-plan"}}}]}}}}, "4xx": {"description": "Available Plan Details response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/api-response-single"}, {"properties": {"result": {"$ref": "#/components/schemas/available-rate-plan"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-rate-plan-available-plan-details", "tags": ["Zone Rate Plan"]}}, "/zones/{identifier}/subscription": {"get": {"summary": "Zone Subscription Details", "description": "Zone subscription details.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}], "responses": {"200": {"description": "Zone Subscription Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/zone_subscription_response_single"}}}}, "4xx": {"description": "Zone Subscription Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_subscription_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-subscription-zone-subscription-details", "tags": ["Zone Subscription"]}, "put": {"summary": "Update Zone Subscription", "description": "Update Zone subscriptions. Either plan and add-ons.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}], "responses": {"200": {"description": "Update Zone Subscription response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/zone_subscription_response_single"}}}}, "4xx": {"description": "Update Zone Subscription response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_subscription_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read", "#billing:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/subscription-v2"}}}}, "operationId": "zone-subscription-update-zone-subscription", "tags": ["Zone Subscription"]}, "post": {"summary": "Create Zone Subscription", "description": "Create a Zone subscriptions. Either plan or add-ons.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/subscription-v2_components-schemas-identifier"}}], "responses": {"200": {"description": "Create Zone Subscription response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/zone_subscription_response_single"}}}}, "4xx": {"description": "Create Zone Subscription response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_subscription_response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#billing:read", "#billing:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/subscription-v2"}}}}, "operationId": "zone-subscription-create-zone-subscription", "tags": ["Zone Subscription"]}}, "/user/audit_logs": {"get": {"summary": "Get user audit logs", "description": "Gets a list of audit logs for a user account. The list can be filtered by who made the change, which zone was the change made on, and the timeframe of the change.", "parameters": [], "responses": {"200": {"description": "Get user audit logs response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/audit_logs_response_collection"}}}}, "4xx": {"description": "Get user audit logs response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/audit_logs_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "audit-logs-get-user-audit-logs", "tags": ["Audit Logs"]}}, "/accounts/{account_identifier}/audit_logs": {"get": {"summary": "Get account audit logs", "description": "Gets a list of audit logs for an account. The list can be filtered by who made the change, which zone was the change made on, and the timeframe of the change.", "parameters": [{"name": "account_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get account audit logs response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/audit_logs_response_collection"}}}}, "4xx": {"description": "Get account audit logs response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/audit_logs_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "audit-logs-get-account-audit-logs", "tags": ["Audit Logs"]}}, "/organizations/{organization_identifier}/audit_logs": {"get": {"summary": "Get organization audit logs", "description": "Gets a list of audit logs for an organization. The list can be filtered by who made the change, which zone was the change made on, and the timeframe of the change.", "parameters": [{"name": "organization_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get organization audit logs response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/audit_logs_response_collection"}}}}, "4xx": {"description": "Get organization audit logs response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/audit_logs_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "deprecated": true, "x-cfDeprecation": {"$ref": "organization.json#/components/schemas/organization/x-cfDeprecations/org_deprecation"}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "audit-logs-get-organization-audit-logs", "tags": ["Audit Logs"]}}, "/zones/{zone_identifier}/argo/smart_routing": {"get": {"summary": "Get Argo Smart Routing setting", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Argo Smart Routing setting response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-response_single"}}}}, "4xx": {"description": "Get Argo Smart Routing setting response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/schemas-response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "argo-smart-routing-get-argo-smart-routing-setting", "tags": ["Argo Smart Routing"]}, "patch": {"summary": "Patch Argo Smart Routing setting", "description": "Updates enablement of Argo Smart Routing.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Patch Argo Smart Routing setting response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-response_single"}}}}, "4xx": {"description": "Patch Argo Smart Routing setting response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/schemas-response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read", "#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/patch"}}}}, "operationId": "argo-smart-routing-patch-argo-smart-routing-setting", "tags": ["Argo Smart Routing"]}}, "/zones/{zone_identifier}/analytics/latency": {"get": {"summary": "Argo Analytics for a zone", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Argo Analytics for a zone response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-response_single"}}}}, "4xx": {"description": "Argo Analytics for a zone response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/schemas-response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#analytics:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "argo-analytics-for-zone-argo-analytics-for-a-zone", "tags": ["Argo Analytics for Zone"]}}, "/zones/{zone_identifier}/analytics/latency/colos": {"get": {"summary": "Argo Analytics for a zone at different PoPs", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Argo Analytics for a zone at different PoPs response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-response_single"}}}}, "4xx": {"description": "Argo Analytics for a zone at different PoPs response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/schemas-response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#analytics:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "argo-analytics-for-geolocation-argo-analytics-for-a-zone-at-different-po-ps", "tags": ["Argo Analytics for Geolocation"]}}, "/zones": {"get": {"summary": "List Zones", "description": "List, search, sort, and filter your zones.", "parameters": [], "responses": {"200": {"description": "List Zones response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/components-schemas-response_collection"}}}}, "4xx": {"description": "List Zones response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/components-schemas-response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-list-zones", "tags": ["Zone"]}, "post": {"summary": "Create Zone", "parameters": [], "responses": {"200": {"description": "Create Zone response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/components-schemas-response_single"}}}}, "4xx": {"description": "Create Zone response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/components-schemas-response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-create"}}}}, "operationId": "zone-create-zone", "tags": ["Zone"]}}, "/zones/{identifier}": {"get": {"summary": "Zone Details", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Zone Details response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/components-schemas-response_single"}}}}, "4xx": {"description": "Zone Details response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/components-schemas-response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-zone-details", "tags": ["Zone"]}, "patch": {"summary": "Edit Zone", "description": "Only one zone property can be changed at a time.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Edit Zone response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/components-schemas-response_single"}}}}, "4xx": {"description": "Edit Zone response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/components-schemas-response_single"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/schemas-patch"}}}}, "operationId": "zone-edit-zone", "tags": ["Zone"]}, "delete": {"summary": "Delete Zone", "description": "Delete an existing zone.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Delete Zone response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/api-response-single-id"}}}}, "4xx": {"description": "Delete Zone response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single-id"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "zone-delete-zone", "tags": ["Zone"]}}, "/zones/{identifier}/activation_check": {"put": {"summary": "Zone Activation Check", "description": "Initiate another zone activation check.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Zone Activation Check response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/api-response-single-id"}}}}, "4xx": {"description": "Zone Activation Check response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single-id"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {}}}, "operationId": "zone-zone-activation-check", "tags": ["Zone"]}}, "/zones/{identifier}/purge_cache": {"post": {"summary": "Purge Files by Cache-Tags, Host or Prefix", "description": "Granularly remove one or more files from Cloudflare's cache either by specifying the host, the associated Cache-Tag, or a Prefix.\n\n**NB:** Cache-Tag, host and prefix purging each have a rate limit of 30,000 purge API calls in every 24 hour period. You may purge up to 30 tags, hosts, or prefixes in one API call. This rate limit can be raised for customers who need to purge at higher volume.", "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/schemas-identifier"}}], "responses": {"200": {"description": "Purge Files by Cache-Tags, Host or Prefix response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/api-response-single-id"}}}}, "4xx": {"description": "Purge Files by Cache-Tags, Host or Prefix response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/api-response-single-id"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#cache_purge:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/purge_by_cache_tags_or_hosts_or_prefixes"}}}}, "operationId": "zone-purge-files-by-cache-tags,-host-or-prefix", "tags": ["Zone"]}}, "/zones/{zone_identifier}/settings": {"get": {"summary": "Get all Zone settings", "description": "Available settings for your user in relation to a zone.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get all Zone settings response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/zone_settings_response_collection"}}}}, "4xx": {"description": "Get all Zone settings response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-settings-get-all-zone-settings", "tags": ["Zone Settings"]}, "patch": {"summary": "Edit zone settings info", "description": "Edit settings for a zone.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Edit zone settings info response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/zone_settings_response_collection"}}}}, "4xx": {"description": "Edit zone settings info response failure", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_collection"}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"required": ["items"], "properties": {"items": {"type": "array", "description": "One or more zone setting objects. Must contain an ID and a value.", "minItems": 1, "items": {"$ref": "#/components/schemas/setting"}, "example": [{"id": "always_online", "value": "on"}, {"id": "browser_cache_ttl", "value": 18000}, {"id": "ip_geolocation", "value": "off"}]}}}}}}, "operationId": "zone-settings-edit-zone-settings-info", "tags": ["Zone Settings"]}}, "/zones/{zone_identifier}/settings/advanced_ddos": {"get": {"summary": "Get Advanced DDOS setting", "description": "Advanced protection from Distributed Denial of Service (DDoS) attacks on your website. This is an uneditable value that is 'on' in the case of Business and Enterprise zones.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Advanced DDOS setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/advanced_ddos"}}}]}}}}, "4xx": {"description": "Get Advanced DDOS setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/advanced_ddos"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": true, "enterprise": true}, "operationId": "zone-settings-get-advanced-ddos-setting", "tags": ["Zone Settings"]}}, "/zones/{zone_identifier}/settings/always_online": {"get": {"summary": "Get Always Online setting", "description": "When enabled, Cloudflare serves limited copies of web pages available from the [Internet Archive's Wayback Machine](https://archive.org/web/) if your server is offline. Refer to [Always Online](https://developers.cloudflare.com/cache/about/always-online) for more information.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Always Online setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_online"}}}]}}}}, "4xx": {"description": "Get Always Online setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_online"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-settings-get-always-online-setting", "tags": ["Zone Settings"]}, "patch": {"summary": "Change Always Online setting", "description": "When enabled, Cloudflare serves limited copies of web pages available from the [Internet Archive's Wayback Machine](https://archive.org/web/) if your server is offline. Refer to [Always Online](https://developers.cloudflare.com/cache/about/always-online) for more information.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Change Always Online setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_online"}}}]}}}}, "4xx": {"description": "Change Always Online setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_online"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"required": ["value"], "properties": {"value": {"$ref": "#/components/schemas/always_online_value"}}}}}}, "operationId": "zone-settings-change-always-online-setting", "tags": ["Zone Settings"]}}, "/zones/{zone_identifier}/settings/always_use_https": {"get": {"summary": "Get Always Use HTTPS setting", "description": "Reply to all requests for URLs that use \"http\" with a 301 redirect to the equivalent \"https\" URL. If you only want to redirect for a subset of requests, consider creating an \"Always use HTTPS\" page rule.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Always Use HTTPS setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_use_https"}}}]}}}}, "4xx": {"description": "Get Always Use HTTPS setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_use_https"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-settings-get-always-use-https-setting", "tags": ["Zone Settings"]}, "patch": {"summary": "Change Always Use HTTPS setting", "description": "Reply to all requests for URLs that use \"http\" with a 301 redirect to the equivalent \"https\" URL. If you only want to redirect for a subset of requests, consider creating an \"Always use HTTPS\" page rule.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Change Always Use HTTPS setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_use_https"}}}]}}}}, "4xx": {"description": "Change Always Use HTTPS setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/always_use_https"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"required": ["value"], "properties": {"value": {"$ref": "#/components/schemas/always_use_https_value"}}}}}}, "operationId": "zone-settings-change-always-use-https-setting", "tags": ["Zone Settings"]}}, "/zones/{zone_identifier}/settings/opportunistic_onion": {"get": {"summary": "Get Opportunistic Onion setting", "description": "Add an Alt-Svc header to all legitimate requests from Tor, allowing the connection to use our onion services instead of exit nodes.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Opportunistic Onion setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/opportunistic_onion"}}}]}}}}, "4xx": {"description": "Get Opportunistic Onion setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/opportunistic_onion"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-settings-get-opportunistic-onion-setting", "tags": ["Zone Settings"]}, "patch": {"summary": "Change Opportunistic Onion setting", "description": "Add an Alt-Svc header to all legitimate requests from Tor, allowing the connection to use our onion services instead of exit nodes.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Change Opportunistic Onion setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/opportunistic_onion"}}}]}}}}, "4xx": {"description": "Change Opportunistic Onion setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/opportunistic_onion"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"required": ["value"], "properties": {"value": {"$ref": "#/components/schemas/opportunistic_onion_value"}}}}}}, "operationId": "zone-settings-change-opportunistic-onion-setting", "tags": ["Zone Settings"]}}, "/zones/{zone_identifier}/settings/orange_to_orange": {"get": {"summary": "Get Orange to Orange (O2O)", "description": "Orange to Orange (O2O) allows zones on Cloudflare to CNAME to other zones also on Cloudflare.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Orange to Orange (O2O) response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/orange_to_orange"}}}]}}}}, "4xx": {"description": "Get Orange to Orange (O2O) response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/orange_to_orange"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "operationId": "zone-settings-get-orange-to-orange-(-o-2-o)", "tags": ["Zone Settings"]}, "patch": {"summary": "Change Orange to Orange (O2O)", "description": "Orange to Orange (O2O) allows zones on Cloudflare to CNAME to other zones also on Cloudflare.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Change Orange to Orange (O2O) response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/orange_to_orange"}}}]}}}}, "4xx": {"description": "Change Orange to Orange (O2O) response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/orange_to_orange"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": false, "pro": false, "business": false, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"required": ["value"], "properties": {"value": {"$ref": "#/components/schemas/orange_to_orange_value"}}}}}}, "operationId": "zone-settings-change-orange-to-orange-(-o-2-o)", "tags": ["Zone Settings"]}}, "/zones/{zone_identifier}/settings/automatic_https_rewrites": {"get": {"summary": "Get Automatic HTTPS Rewrites setting", "description": "Enable the Automatic HTTPS Rewrites feature for this zone.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Automatic HTTPS Rewrites setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/automatic_https_rewrites"}}}]}}}}, "4xx": {"description": "Get Automatic HTTPS Rewrites setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/automatic_https_rewrites"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-settings-get-automatic-https-rewrites-setting", "tags": ["Zone Settings"]}, "patch": {"summary": "Change Automatic HTTPS Rewrites setting", "description": "Enable the Automatic HTTPS Rewrites feature for this zone.", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Change Automatic HTTPS Rewrites setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/automatic_https_rewrites"}}}]}}}}, "4xx": {"description": "Change Automatic HTTPS Rewrites setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/automatic_https_rewrites"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"required": ["value"], "properties": {"value": {"$ref": "#/components/schemas/automatic_https_rewrites_value"}}}}}}, "operationId": "zone-settings-change-automatic-https-rewrites-setting", "tags": ["Zone Settings"]}}, "/zones/{zone_identifier}/settings/browser_cache_ttl": {"get": {"summary": "Get Browser Cache TTL setting", "description": "Browser Cache TTL (in seconds) specifies how long Cloudflare-cached resources will remain on your visitors' computers. Cloudflare will honor any larger times specified by your server. (https://support.cloudflare.com/hc/en-us/articles/200168276).", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Get Browser Cache TTL setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/browser_cache_ttl"}}}]}}}}, "4xx": {"description": "Get Browser Cache TTL setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/browser_cache_ttl"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:read"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "operationId": "zone-settings-get-browser-cache-ttl-setting", "tags": ["Zone Settings"]}, "patch": {"summary": "Change Browser Cache TTL setting", "description": "Browser Cache TTL (in seconds) specifies how long Cloudflare-cached resources will remain on your visitors' computers. Cloudflare will honor any larger times specified by your server. (https://support.cloudflare.com/hc/en-us/articles/200168276).", "parameters": [{"name": "zone_identifier", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/common_components-schemas-identifier"}}], "responses": {"200": {"description": "Change Browser Cache TTL setting response", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/browser_cache_ttl"}}}]}}}}, "4xx": {"description": "Change Browser Cache TTL setting response failure", "content": {"application/json": {"schema": {"allOf": [{"allOf": [{"$ref": "#/components/schemas/zone_settings_response_single"}, {"properties": {"result": {"$ref": "#/components/schemas/browser_cache_ttl"}}}]}, {"$ref": "#/components/schemas/api-response-common-failure"}]}}}}}, "security": [{"api_key": [], "api_email": []}], "x-cfPermissionsRequired": {"enum": ["#zone_settings:edit"]}, "x-cfPlanAvailability": {"free": true, "pro": true, "business": true, "enterprise": true}, "requestBody": {"required": true, "content
[...]
